/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: "Comic Sans MS";
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 400%;
  text-align: center;
}
.rainbow {
  -webkit-animation: rainbow 5s infinite;
}
@-webkit-keyframes rainbow{
  0% {color: red;}
  16% {color: orange;}
  33% {color: yellow;}
  50% {color: green;}
  66% {color: blue;}
  83% {color: indigo;}
  100% {color: violet;}
}

.rainbow-two {
  -webkit-animation: rainbowtwo 5s infinite;
}
@-webkit-keyframes rainbowtwo{
  0% {color: blue;}
  16% {color: indigo;}
  33% {color: violet;}
  50% {color: red;}
  66% {color: orange;}
  83% {color: yellow;}
  100% {color: green;}
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  font-family: "Comic Sans MS";
  font-size: larger;
  text-shadow: 3px 3px 10px white;
  text-align: center;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.section {
  color: whitesmoke;
}
